@model IEnumerable<WebAppMVC1GitBranch.Models.Emp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Partial("OurPview")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edesig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edoj)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edesig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edoj)
            </td>
        </tr>
    }

</table>
